.criteria-rate-inner {
  height: 10px;
}
.vote-title {
  float: left;
  color: #550fb4;
  font-weight: bold;
}
.vote-you {
  float: right;
}
#edit-vote-rating-container {
  clear: both;
  overflow: hidden;
}
.vote-title .vote-title-count {
  color: #3c3c3c;
  font-weight: normal;
}
.vote-rating-container {
  clear: both;
  overflow: hidden;
}
.vote-rating-container .form-type-select,
.vote-rating-container label,
.vote-rating-container .criteria-rate,
.vote-rating-container .criteria-rate-number {
  float: left;
}
.vote-rating-container .criteria-rate-number {
  width: 40px;
  margin: 0 10px;
}
.vote-rating-container label {
  width: 180px;
}
.vote-rating-container .criteria-rate {
  width: 215px;
  background-color: #f0f0f0;
  margin-right: 10px;
}
div.vote-avg-wrapper span {
  background: red;
  display: block;
  height: 11px;
}
div.vote-avg-wrapper {
  background: silver;
  direction: ltr;
  display: inline-block;
  height: 11px;
  margin: 0 9px;
  width: 54px;
}
